@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$prussianBlue: #1D3557;
$celadonBlue: #457B9D;
$powderBlue: #A8DADC;

nav{
    background-color: $prussianBlue;

    a{
        font-family: "Dancing Script", "sans-serif";
        font-size: 1.5em;
    }

    .nav-link, .navbar-brand{
        color: $powderBlue;
    }
    
    .navbar-brand{
        font-size: 1.8em;
    }
}