$prussianBlue: #1D3557;
$celadonBlue: #457B9D;
$powderBlue: #A8DADC;
$imperialRed: #E63946;
$honeyDew: #F1FAEE;

form{
    input[type=button]{
        width: 100%;
        background-color: $imperialRed;
        color:white;
    }
}