<section class="form-contact">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row justify-content-center mt-3">
        <!-- Grid column -->
        <div class="col-8 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem"></i>Contactez nous !
            </h6>
            <p>
                Bonjour, nous sommes actuellement décédés, mais laissez nous un message et on vous rappellera aussi tôt que posthume !
            </p>

            <form class="d-flex flex-wrap justify-content-between">
                <div class="col-lg-6 col-md-12 col-sm-12 pe-lg-2 pe-md-0 pe-sm-0 mb-3">
                    <label for="inputNom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="inputNom" />
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3 form-group">
                    <label for="inputPrenom" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="inputPrenom" />
                </div>

                <div class="col-lg-7 col-md-12 col-sm-12 pe-lg-2 pe-md-0 pe-sm-0 form-group">
                    <label for="inputSujet" class="form-label">Sujet</label>
                    <input type="text" class="form-control" id="inputSujet" />
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 mb-3 form-group">
                    <label for="inputEmail" class="form-label">Adresse mail</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" />
                </div>

                <div class="col-12 mb-3 form-group">
                    <label for="inputContent" class="form-label">Message</label>
                    <textarea rows="3" class="form-control" id="inputContent"></textarea>
                </div>

                <div class="col-12">
                <input type="button" class="btn" value="Envoyer" />
                </div>
            </form>
        </div>
        </div>
        <!-- Grid row -->
    </div>
</section>