<style>

.h{
    margin: 100px;
    box-shadow: 0 5px 10px black;
    height: 350px;
    display: flex;
    flex-wrap:wrap;

    
}

.hist-box{
    background-size: cover;
    background-position:center ;
    width: 100px;
    height: 350px;
    flex: 1; 
}
.hist1{
    background-image: url(../assets/images/foodTruck.jpg);
}
.hist2{
    background-color: rgb(241,250,238);
}

</style>

<div class="h">
    <div class="hist-box hist1">

    </div>
    <div class="hist-box hist2">

    </div>
</div>




