<style>
    .banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
  }
  
  .banner h1 {
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    text-align: center;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  </style>
  
  
  <!-- Banner et Histoire -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559466273-d95e72debaf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80);">
    <div class="container d-flex justify-content-end">
      <div class="card-home" style="width: 18rem;">
        <div class="card-body-home">
          <h1 class="card-title">Notre histoire</h1>
          <br>
          <p class="card-text ">Fondée en 2021, Dwitch and Co est une entreprise familiale qui a décidé de partager <br>ses valeurs en faisant de la bonne nourriture !<br>
            Nos produits sont locaux et bios, tout est fait sur place dans notre foodtruck. Nous valorisons nos producteurs ! C'est un travail commun de retour aux choses simples !<br>
            N'hésitez plus et venez goûter nos savoureux sandwichs, il y en a pour tous les goûts !</p>
        </div>
      </div>
    </div>
  </div>
  
