<!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1475090169767-40ed8d18f67d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80);">
    <div class="container mb-5">
      <h1>Un retour aux racines 🌱</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 d-flex flex-wrap justify-content-between">

        <!-- Card présentation de l'équipe -->
        <div class="col-lg-6 col-md-12 col-sm-12 equipe d-flex flex-wrap justify-content-between">
          <div class="col-lg-12 col-md-5 col-sm-12 card mb-5" style="max-width: 540px;">
            <div class="row">
              <div class="col-sm">
                <img src="https://images.unsplash.com/photo-1577219491135-ce391730fb2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=977&q=80" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Marvin</h5>
                  <br>
                  <p class="card-text-equipe">Cuisine avec sa mère depuis qu'il est tout petit. Il aime le vrai, l'authentique et partager son savoir-faire 👨‍🎨</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-lg-12 col-md-5 col-sm-12 card mb-5" style="max-width: 540px;">
            <div class="row">
              <div class="col-sm">
                <img src="https://images.unsplash.com/photo-1625631980683-825234bfb7d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Soumaya</h5>
                  <br>
                  <p class="card-text-equipe">C'est la frangine, elle cuisine avec son frère depuis son plus âge et adore faire des desserts 🍰</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card col-lg-12 col-md-5 col-sm-12 card mb-5" style="max-width: 540px;">
            <div class="row">
              <div class="col-sm">
                <img src="https://images.unsplash.com/photo-1595257841889-eca2678454e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Yasmine</h5>
                  <br>
                  <p class="card-text-equipe">La cousine organisée. Une cuisine propre, saine et qui dépote ! 🚀</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- HIstoire de l'entreprise -->
        <div class="col-lg-6 col-md-12 col-sm-12 card-home" style="width: 30rem">
          <div class="card-body-home">
            <h2 class="card-title">Notre histoire <br> 🚚</h2>
            <br>
            <p class="card-text">Fondée en 2021, <strong>Dwitch and Co</strong> est une entreprise familiale qui a décidé de partager ses valeurs en faisant de la bonne nourriture.
              Nos produits sont locaux et bios, tout est fait sur place dans notre foodtruck. Nous valorisons nos producteurs ! C'est un travail commun de retour aux choses simples !<br>
              <br> <strong>N'hésitez plus et venez goûter nos savoureux sandwichs, il y en a pour tous les goûts !</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>



  
